node_modules
coverage
out
dist
!publish/**/dist
!plugins/**/publish/**
plugins/**/node_modules
plugins/**/out
plugins/**/dist
*/**/*.pdf
*/**/*.torrent
*/**/*.xls
*/**/*.xlsx
*/**/*.doc
*/**/*.docx
*/**/*.mp3
yarn.lock
